<h1> hi</h1>
<%= link_to "add", new_blog_post_path  %>

<% @blog_posts.each do |e| %>
    <div>
        <h2> title: <%= link_to e.title, e  %></h2>
        <div class="font-sans"> <%=  e.body  %></div>
        <% if e.draft? %>
        <div class="bg-gray-200 text-gray-900">Draft</div>
        <%  end %>
        <% if e.scheduled? %>
        <div class="bg-gray-200 text-gray-900">Scheduled</div>
        <%  end %>

     </div>
<% end %>