

<%= link_to "add", new_participant_path , class:"text-slate-400" %>




<% @participants.each do |e| %>
    <div class="text-slate-400">
        <div class="font-sans">Name: <%=  e.name  %></div>
        
        <%= button_to "delete", e, method: :delete, data: {turbo_confirm: "Are you sure?" } %>
     </div>
<% end %>
