<turbo-frame id="content">
  <div class="flex p-2">
    <div class="flex-1"></div>
    <%== pagy_nav(@pagy)%>
  </div>
  <div class="flex  flex-col">
    <%= turbo_frame_tag "actions", class:"contents" do %>
      <% @actions.desc.each do |action| %>
        <%= render partial: "action", locals: {action: action, show_delete: true}%>
      <% end %>
    <% end %>
  </div>
<turbo-frame>