<% flash.each do |key, message| %>
  <div
    class="flash__message px-4 z-50 bg-white dark:bg-sky-950 rounded ring-2 ring-sky-800 shadow-xl "
    data-controller="removals"
    data-action="animationend->removals#remove"
    >
    <%# <div class="w-full flex"></div> %>
    <div class="flex">
      <% if key == "action_flash"  %>
        <%=  button_to t('buttons.undo'), message, method: :delete , class:"text-blue-800 dark:text-blue-500 relative m-2 font-bold font-xl", form_class: "m-auto"  %>
        <%=  render partial: "action", locals: {action: message, show_delete: false } %>
      <% else %>
        <div
          class="flash__message flash__fixed px-4 py-8 text-blue-200 font-xl"
          >
          
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
