<% flash.each do |flash_type, message| %>
  <div
    class="flash__fixed px-4 py-8 bg-blue-200"
    data-controller="removals"
    data-action="animationend->removals#remove"
    >
    <%= message %>
  </div>
<% end %>
